
@{
    ViewData["Title"] = "_Adminlayout";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/Site Template/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/Site Template/images/dashboard/favicon.png" type="image/x-icon">
    <title>مالتی کارت -قالب</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="~/Site Template/css/fontawesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/Site Template/css/flag-icon.css">

    <!-- jsgrid css-->
    <link rel="stylesheet" type="text/css" href="~/Site Template/css/jsgrid.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/Site Template/css/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/Site Template/css/admin.css">

</head>
<body class="rtl">
<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    <div class="page-main-header">
        <div class="main-header-right row">
            <div class="main-header-left d-lg-none">
                <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded" src="~/Site Template/images/dashboard/multikart-logo.png" alt=""></a></div>
            </div>
            <div class="mobile-sidebar">
                <div class="media-body text-right switch-sm">
                    <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
                </div>
            </div>
            <div class="nav-right col">
                <ul class="nav-menus">
                    <li>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input class="form-control-plaintext" type="search" placeholder="جستجو کردن.."><span class="d-sm-none mobile-search"><i data-feather="search"></i></span>
                            </div>
                        </form>
                    </li>
                    <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>
                    <li class="onhover-dropdown"><a class="txt-dark" href="#">
                        <h6>زبان</h6></a>
                        <ul class="language-dropdown onhover-show-div p-20">
                            <li><a href="#" data-lng="en"><i class="flag-icon flag-icon-is"></i>  انگلیسی</a></li>
                            <li><a href="#" data-lng="es"><i class="flag-icon flag-icon-um"></i>  اسپانیایی</a></li>
                            <li><a href="#" data-lng="pt"><i class="flag-icon flag-icon-uy"></i>  پرتغالی</a></li>
                            <li><a href="#" data-lng="fr"><i class="flag-icon flag-icon-nz"></i>  فرانسوی</a></li>
                        </ul>
                    </li>
                    <li class="onhover-dropdown"><i data-feather="bell"></i><span class="badge badge-pill badge-primary pull-right notification-badge">3</span><span class="dot"></span>
                        <ul class="notification-dropdown onhover-show-div p-0">
                            <li>اعلان ها <span class="badge badge-pill badge-primary pull-right">3</span></li>
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mt-0"><span><i class="shopping-color" data-feather="shopping-bag"></i></span>سفارش شما برای کشتی آماده است ..!</h6>
                                        <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mt-0 txt-success"><span><i class="download-color font-success" data-feather="download"></i></span>بارگیری کامل شد</h6>
                                        <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="mt-0 txt-danger"><span><i class="alert-color font-danger" data-feather="alert-circle"></i></span>250 مگابایت پرونده زباله</h6>
                                        <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                    </div>
                                </div>
                            </li>
                            <li class="txt-dark"><a href="#">همه</a>  اعلان ها</li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="right_side_toggle" data-feather="message-square"></i><span class="dot"></span></a></li>
                    <li class="onhover-dropdown">
                        <div class="media align-items-center"><img class="align-self-center pull-right img-50 rounded-circle blur-up lazyloaded" src="~/Site Template/images/dashboard/man.png" alt="header-user">
                            <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
                        </div>
                        <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
                            <li><a href="#"><i data-feather="user"></i>ویرایش نمایه</a></li>
                            <li><a href="#"><i data-feather="mail"></i>صندوق ورودی</a></li>
                            <li><a href="#"><i data-feather="lock"></i>قفل صفحه</a></li>
                            <li><a href="#"><i data-feather="settings"></i>تنظیمات</a></li>
                            <li><a href="#"><i data-feather="log-out"></i>خروج</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
            </div>
        </div>
    </div>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <div class="page-sidebar">
            <div class="main-header-left d-none d-lg-block">
                <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded" src="~/Site Template/images/dashboard/multikart-logo.png" alt=""></a></div>
            </div>
            <div class="sidebar custom-scrollbar">
                <div class="sidebar-user text-center">
                    <div><img class="img-60 rounded-circle lazyloaded blur-up" src="~/Site Template/images/dashboard/man.png" alt="#">
                    </div>
                    <h6 class="mt-3 f-14">جان</h6>
                    <p>مدیر کل.</p>
                </div>
                <ul class="sidebar-menu">
                    <li><a class="sidebar-header" href="index.html"><i data-feather="home"></i><span>داشبورد</span></a></li>



                    <li class="active"><a class="sidebar-header" href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg><span>مدریت کاربران</span><i class="fa fa-angle-right pull-right"></i></a>
                        <ul class="sidebar-submenu">
                            <li class="active"><a href="~/admin/products/index" class="active"><i class="fa fa-circle"></i>لیست محصولات</a></li>
                            <li><a href="~/admin/products/AddNewProduct"><i class="fa fa-circle"></i>افزودن محصول جدید</a></li>
                        </ul>
                    </li>
                    



                </ul>
            </div>
        </div>
        <!-- Page Sidebar Ends-->

        <!-- Right sidebar Start-->
        <div class="right-sidebar" id="right_side_bar">
            <div>
                <div class="container p-0">
                    <div class="modal-header p-l-20 p-r-20">
                        <div class="col-sm-8 p-0">
                            <h6 class="modal-title font-weight-bold">لیست دوستان</h6>
                        </div>
                        <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div>
                    </div>
                </div>
                <div class="friend-list-search mt-0">
                    <input type="text" placeholder="جستجوی دوست"><i class="fa fa-search"></i>
                </div>
                <div class="p-l-30 p-r-30">
                    <div class="chat-box">
                        <div class="people-list friend-list">
                            <ul class="list">
                                <li class="clearfix"><img class="rounded-circle user-image" src="~/Site Template/images/dashboard/user.png" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">وینسنت پورتر
</div>
                                        <div class="status"> آنلاین</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="~/Site Template/images/dashboard/user1.jpg" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">عین چاوز</div>
                                        <div class="status"> 28 دقیقه پیش
</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="~/Site Template/images/dashboard/user2.jpg" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">کوری توماس
</div>
                                        <div class="status"> آنلاین</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="~/Site Template/images/dashboard/user3.jpg" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">اریکا هیوز
</div>
                                        <div class="status"> آنلاین</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="~/Site Template/images/dashboard/man.png" alt="">
                                    <div class="status-circle offline"></div>
                                    <div class="about">
                                        <div class="name">زنجبیل جانستون</div>
                                        <div class="status"> 2 دقیقه پیش</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="~/Site Template/images/dashboard/user5.jpg" alt="">
                                    <div class="status-circle away"></div>
                                    <div class="about">
                                        <div class="name">پرستانش آناند
</div>
                                        <div class="status"> 2 ساعت پیش
</div>
                                    </div>
                                </li>
                                <li class="clearfix"><img class="rounded-circle user-image" src="~/Site Template/images/dashboard/designer.jpg" alt="">
                                    <div class="status-circle online"></div>
                                    <div class="about">
                                        <div class="name">هری جیسون</div>
                                        <div class="status"> آنلاین</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right sidebar Ends-->
        <div class="page-body">
            @RenderBody()
        </div>

        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">کپی رایت 2019 © setin همه حقوق محفوظ است.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right mb-0">طراحی توسط سنتاک<i class="fa fa-heart"></i></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->

    </div>

</div>


<!-- latest jquery-->
<script src="~/Site Template/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="~/Site Template/js/popper.min.js"></script>
<script src="~/Site Template/js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="~/Site Template/js/icons/feather-icon/feather.min.js"></script>
<script src="~/Site Template/js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="~/Site Template/js/sidebar-menu.js"></script>

<!-- Jsgrid js-->
<script src="~/Site Template/js/jsgrid/jsgrid.min.js"></script>
<script src="~/Site Template/js/jsgrid/griddata-transactions.js"></script>
<script src="~/Site Template/js/jsgrid/jsgrid-transactions.js"></script>

<!--Customizer Admin-->
<script src="~/Site Template/js/admin-customizer.js"></script>

<!-- lazyload js-->
<script src="~/Site Template/js/lazysizes.min.js"></script>

<!--right sidebar js-->
<script src="~/Site Template/js/chat-menu.js"></script>

<!--script admin-->
<script src="~/Site Template/js/admin-script.js"></script>

@RenderSection("Scripts")

@RenderSection("Modals")

</body>
</html>


